extends extends/base

block content

  #mogo

    input(type="checkbox" id="mogocheck")
    include includes/header
    include includes/banner
    include includes/aboutus
    include includes/countant
    include includes/services
    include includes/devices
    include includes/service
    include includes/teamcarrousel
    include includes/ourteam
    include includes/brands
    include includes/galery
    include includes/testimony
    include includes/clients
    include includes/blog
    include includes/map

    //- include includes/page

    include includes/footer

block bottom
