.mogo__aboutus
  .mogo__container
    .mogo__aboutus__container
      p.titleusdo What we do
      h2.titlestory Story about us
      .lineus
      p.textus Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .mogo__aboutus__box
      .teambox
        img.imagesbox(src="/images/team-1.jpg")
        .teambox__hoverbox
          img.teamicon(src="/images/icon-team.png")
          p.teamtext super team
      .teambox
        img.imagesbox(src="/images/team-2.jpg")
        .teambox__hoverbox
          img.teamicon(src="/images/icon-team.png")
          p.teamtext super team
      .teambox
        img.imagesbox(src="/images/team-3.jpg")
        .teambox__hoverbox
          img.teamicon(src="/images/icon-team.png")
          p.teamtext super tea
