.mogo.sliders
  .mogo__banner.mogo__banner--slide1
    .mogo__container
      .mogo__banner__container
        .contenttext
          p.titlesmall Creative Template
          p.titlebig Welcome to MoGo
          .line
          .btnmore
            a.linkbtn Learn more

  .mogo__banner.mogo__banner--slide2
    .mogo__container
      .mogo__banner__container
        .contenttext
          p.titlesmall Creative Template
          p.titlebig Welcome to Ice
          .line
          .btnmore
            a.linkbtn Learn more

  .mogo__banner.mogo__banner--slide3
    .mogo__container
      .mogo__banner__container
        .contenttext
          p.titlesmall Creative Template
          p.titlebig Welcome to Cube
          .line
          .btnmore
            a.linkbtn Learn more
