.mogo__blog
  .mogo__container
    .mogo__blog__container
      p.titleblog What we do
      h2.titlestory Story about us
      .lineblog
      p.textblog Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .mogo__blog__box
      .contentbox
        .blogbox
            img.imagesbox(src="/images/img-blog-1.jpg")
            .blogbox__date
              p.textday 15
              p.textmont Jan
        .description
          p.texttopic Lorem ipsum dolor sit amet
          p.textconcept Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .contador
            .contadoricon
              i.fas.fa-eye
              span 542
            .contadoricon
              i.fas.fa-comment-dots
              span 17

      .contentbox
        .blogbox
          img.imagesbox(src="/images/img-blog-2.jpg")
          .blogbox__date
            p.textday 14
            p.textmont Jan
        .description
          p.texttopic Lorem ipsum dolor sit amet
          p.textconcept Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .contador
            .contadoricon
              i.fas.fa-eye
              span 992
            .contadoricon
              i.fas.fa-comment-dots
              span 42


      .contentbox
        .blogbox
          img.imagesbox(src="/images/img-blog-3.jpg")
          .blogbox__date
            p.textday 12
            p.textmont Jan
        .description
          p.texttopic Lorem ipsum dolor sit amet
          p.textconcept Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .contador
            .contadoricon
              i.fas.fa-eye
              span 1560
            .contadoricon
              i.fas.fa-comment-dots
              span 98

