.mogo__clients
  .mogo__container
    .mogo__title
      p.titleclients Happy Clients
      h2.textclients What people say
      .lineclients

    .mogo__description
      .boxclients
        .contentclient
          .photo.inblock
            img.imgbox(src="/images/img-clients-1.png")
          .information.inblock
            .title Matthew Dix
            .ocupation Graphic Design
            .line
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        .contentclient
          .photo.inblock
            img.imgbox(src="/images/img-clients-2.png")
          .information.inblock
            .title Matthew Dix
            .ocupation Graphic Design
            .line
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.

      .boxclients
        .contentclient
          .photo.inblock
            img.imgbox(src="/images/img-clients-3.png")
          .information.inblock
            .title Matthew Dix
            .ocupation Graphic Design
            .line
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        .contentclient
          .photo.inblock
            img.imgbox(src="/images/img-clients-4.png")
          .information.inblock
            .title Matthew Dix
            .ocupation Graphic Design
            .line
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
