.mogocountant
  .mogo__container
    .mogo__countant
      .mogo__boxcountant
        p.textnumber 42
        p.textdescription Web Design Projects
      .mogo__boxcountant.mogo__boxcountant--borderbox
        p.textnumber 123
        p.textdescription happy client
      .mogo__boxcountant
        p.textnumber 15
        p.textdescription award winner
      .mogo__boxcountant.mogo__boxcountant--borderbox
        p.textnumber 99
        p.textdescription cup of coffee
      .mogo__boxcountant
        p.textnumber 24
        p.textdescription members
