.mogo__devices
  .mogo__container
    .mogo__design
      p.titledevices For all devices
      p.textdisegn Unique design
      .linedesingn
      .designbox
        img.imgtablet(src="images/story-image-tablet-1.png")
        .cellphone
          img.imgcellphone(src="images/story-image-cellphone-2.png")

