.mogo__footer
  .mogo__container
    .mogo__boxes
      .box__follow
        .logo MoGo
        .description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fugit eligendi enim aliquid assumenda quia tempore iste ipsum dicta ex unde quidem modi impedit placeat autem asperiores soluta deserunt laudantium!
        .followers
          span 15k
          | followers
        .contentsocial
          .social__text Follow Us:
          .social__icon
            span
              i.fab.fa-facebook-f
            span
              i.fab.fa-twitter
            span
              i.fab.fa-pinterest-p
            span
              i.fab.fa-instagram
            span
              i.fab.fa-twitter
            span
              i.fab.fa-facebook-f
            span
              i.fas.fa-globe
            span
              i.fab.fa-pinterest-p
        .suscribe
          form(action='/action_page.php')
            label(for='email') First Name
            input#email(type='text', name='email', placeholder='Your Email...')
            input(type='submit', value='Subscribe')

      .box__blogs
        .title BLOGS
        .blogs
          .blog
            .blog__image
              img(src="images/img-map-blog-1.png", alt="")
            .blog__text
              .title Lorem ipsum dolor sit amet, consectetur adipiscing
              .date Jan 9, 2016
          .blog
            .blog__image
              img(src="images/img-map-blog-2.png", alt="")
            .blog__text
              .title Lorem ipsum dolor sit amet, consectetur adipiscing
              .date Jan 9, 2016
          .blog
            .blog__image
              img(src="images/img-map-blog-3.png", alt="")
            .blog__text
              .title Lorem ipsum dolor sit amet, consectetur adipiscing
              .date Jan 9, 2016

      .box__instagram
        .title instagram
        .instagram
          img.galery(src="images/img-map-insta-1.png", alt="")
          img.galery(src="images/img-map-insta-2.png", alt="")
          img.galery(src="images/img-map-insta-3.png", alt="")
          img.galery(src="images/img-map-insta-4.png", alt="")
          img.galery(src="images/img-map-insta-5.png", alt="")
          img.galery(src="images/img-map-insta-6.png", alt="")
          img.galery.galery--hiden(src="images/img-map-insta-7.png", alt="")
          img.galery.galery--hiden(src="images/img-map-insta-8.png", alt="")
          img.galery.galery--hiden(src="images/img-map-insta-9.png", alt="")
        .seemore View more photos

    .mogo__allrightsreserved
      .text © All rights reserved by
        span   Anonymous
