.mogo__galery
  .mogo__container
    .mogo__galery__container
      p.titleusdo What we do
      h2.titlestory some of our work
      .lineus
      p.textus Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.mogo__galery__box.carruselgalery
  .boxcontent
    .teambox
      img.imagesbox(src="/images/galery_1.jpg")
      .teambox__hoverbox
        .icongalery
          img(src="/images/icon-galery.png", alt="")
          .titlegalery creatively designed
          .textgalery Lorem ipsum dolor sit
    .teambox
      img.imagesbox(src="/images/galery_2.jpg")
      .teambox__hoverbox
        .icongalery
          img(src="/images/icon-galery.png", alt="")
          .titlegalery creatively designed
          .textgalery Lorem ipsum dolor sit

  .boxcontent
    .teambox
      img.imagesbox(src="/images/galery_3.jpg")
      .teambox__hoverbox
        .icongalery
          img(src="/images/icon-galery.png", alt="")
          .titlegalery creatively designed
          .textgalery Lorem ipsum dolor sit
    .teambox
      img.imagesbox(src="/images/galery_4.jpg")
      .teambox__hoverbox
        .icongalery
          img(src="/images/icon-galery.png", alt="")
          .titlegalery creatively designed
          .textgalery Lorem ipsum dolor sit

  .boxcontent
    .teambox
      img.imagesbox(src="/images/galery_5.jpg")
      .teambox__hoverbox
        .icongalery
          img(src="/images/icon-galery.png", alt="")
          .titlegalery creatively designed
          .textgalery Lorem ipsum dolor sit

  .boxcontent
    .teambox
      img.imagesbox(src="/images/galery_6.jpg")
      .teambox__hoverbox
        .icongalery
          img(src="/images/icon-galery.png", alt="")
          .titlegalery creatively designed
          .textgalery Lorem ipsum dolor sit
    .teambox
      img.imagesbox(src="/images/galery_7.jpg")
      .teambox__hoverbox
        .icongalery
          img(src="/images/icon-galery.png", alt="")
          .titlegalery creatively designed
          .textgalery Lorem ipsum dolor sit
