header.mogo__header
  .mogo__container
    nav.mogo__header__container
      .mogo__header__logo
        h3.textlogo MoGo

      .mogo__header__close
        label.close(for="mogocheck")
          span
          span
          span

      .mogo__header__menu
        ul.menu
          li.menu__option
            a.option.option--active(href="#", target='_blank') About
          li.menu__option
            a.option(href="#", target='_blank') service
          li.menu__option
            a.option(href="#", target='_blank') work
          li.menu__option
            a.option(href="#", target='_blank')  blog
          li.menu__option
            a.option(href="#", target='_blank')  contact
          li.menu__option
            i.fas.fa-shopping-cart
          li.menu__option
            i.fas.fa-search
