.mogo__ourteam
  .mogo__container
    .mogo__ourteam__container
      p.titleusdo Who we are
      h2.titlestory Meet our team
      .lineus
      p.textus Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .mogo__ourteam__box
      .boxcontent
        .teambox
          img.imagesbox(src="/images/imagen-ourTeam-1.jpg")
          .teambox__hoverbox
            a.btnlink(href="#")
              i.fab.fa-facebook-f
            a.btnlink(href="#")
              i.fab.fa-twitter
            a.btnlink(href="#")
              i.fab.fa-pinterest-p
            a.btnlink(href="#")
              i.fab.fa-instagram
        p.teambox__name Matthew Dix
        p.teambox__ocupation Graphic Design

      .boxcontent
        .teambox
          img.imagesbox(src="/images/imagen-ourTeam-2.jpg")
          .teambox__hoverbox
            a.btnlink(href="#")
              i.fab.fa-facebook-f
            a.btnlink(href="#")
              i.fab.fa-twitter
            a.btnlink(href="#")
              i.fab.fa-pinterest-p
            a.btnlink(href="#")
              i.fab.fa-instagram
        p.teambox__name Christopher Campbell
        p.teambox__ocupation Branding/UX design

      .boxcontent
        .teambox
          img.imagesbox(src="/images/imagen-ourTeam-3.jpg")
          .teambox__hoverbox
            a.btnlink(href="#")
              i.fab.fa-facebook-f
            a.btnlink(href="#")
              i.fab.fa-twitter
            a.btnlink(href="#")
              i.fab.fa-pinterest-p
            a.btnlink(href="#")
              i.fab.fa-instagram
        p.teambox__name Michael Fertig
        p.teambox__ocupation Developer
