.mogo__services
  .mogo__container
    .mogo__wework
      p.titlewework We work with
      h2.titleamazing Amazing Services
      .linewework
      .mogo__servicesbox.mogo__servicesbox--borderbox
        .services
          .service__icon
            img.icon(src="images/services_icon-1.png")
          .service__info
            .titleinfo Photography
            .textinfo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .services
          .service__icon
            img.icon(src="images/services_icon-2.png")
          .service__info
            .titleinfo Web Design
            .textinfo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .services
          .service__icon
            img.icon(src="images/services_icon-3.png")
          .service__info
            .titleinfo Creativity
            .textinfo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .mogo__servicesbox
        .services
          .service__icon
            img.icon(src="images/services_icon-4.png")
          .service__info
            .titleinfo seo
            .textinfo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .services
          .service__icon
            img.icon(src="images/services_icon-5.png")
          .service__info
            .titleinfo Css/Html
            .textinfo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .services
          .service__icon
            img.icon(src="images/services_icon-6.png")
          .service__info
            .titleinfo digital
            .textinfo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
