.mogo__service
  .mogo__container
    .service__content
      p.titleservice Service
      p.textservice what we do
      .linedesingn
      p.textinformation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .service__accordion
      .accordion.accordionimage
        img(src="images/service_img_1.jpg", alt="")
      .accordion.js-accordion
        .accordion__item.js-accordion-item.active
          .accordion-header.js-accordion-header
            .accordion-icon
              img(src="images/icon-service-photography.png", alt="")
            | Photography
          .accordion-body.js-accordion-body#scrolling
            .accordion-body__contents
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  #[br]Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          //- end of accordion body

        .accordion__item.js-accordion-item.active
          .accordion-header.js-accordion-header
            .accordion-icon
              img(src="images/icon-service-creativity.png", alt="")
            | creativity
        .accordion__item.js-accordion-item.active
          .accordion-header.js-accordion-header
            .accordion-icon
              img(src="images/icon-service-web.png", alt="")
            | web design


