.mogo__teamcarrousel
  .mogo__container
    .contentcarrousel
      .teambox
        .team__boxicon
          img(src="images/icon-section-team-1.png", alt="")
        .team__boxtext
          .teamtext “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
          .teamline
            .line.block
            .linetext.block Jon Doe

      .teambox
        .team__boxicon
          img(src="images/icon-section-team-1.png", alt="")
        .team__boxtext
          .teamtext “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
          .teamline
            .line.block
            .linetext.block Jon Doe

      .teambox
        .team__boxicon
          img(src="images/icon-section-team-1.png", alt="")
        .team__boxtext
          .teamtext “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
          .teamline
            .line.block
            .linetext.block Jon Doe

