.mogo__testimony
  .mogo__container
    .contentcarrousel
      .testimonybox
        .testimony__boxicon
          img(src="images/img-testimony-1.png", alt="")
        .testimony__boxtext
          .testimonytext “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
          .testimonyline
            .line.block
            .linetext.block Joshua Earle

      .testimonybox
        .testimony__boxicon
          img(src="images/img-testimony-2.png", alt="")
        .testimony__boxtext
          .testimonytext “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
          .testimonyline
            .line.block
            .linetext.block Jon Doe

      .testimonybox
        .testimony__boxicon
          img(src="images/img-testimony-3.png", alt="")
        .testimony__boxtext
          .testimonytext “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
          .testimonyline
            .line.block
            .linetext.block Emma Chompra

      .testimonybox
        .testimony__boxicon
          img(src="images/img-testimony-4.png", alt="")
        .testimony__boxtext
          .testimonytext “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
          .testimonyline
            .line.block
            .linetext.block Piter Dario

