.mogo {

  &__galery {

    text-align: center;

    &__container {

      padding: 5rem 0;
    }

    .titleusdo {

      color: #000;
      font-family: 'Kaushan Script', cursive;
      font-size: 25px;
    }

    .titlestory {

      color: #000;
      font-size: 30px;
      font-weight: 900;
      padding: 1rem 0 3rem;
      text-transform: uppercase;

      @media only screen and (max-width: 370px) {

        font-size: 25px;
      }
    }

    .lineus {

      background-color: #f38181;
      height: 3px;
      margin: 0 auto;
      width: 60px;
    }

    .textus {

      color: #999;
      font-size: 15px;
      margin: 0 auto;
      padding: 3rem 0 0;
      width: 80%;
    }

    &__box {

      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0 7rem;

      @media only screen and (max-width: 370px) {

        display: block;
      }

      .teambox {

        max-width: 480px;
        position: relative;
        width: 100%;

        .imagesbox {

          position: relative;
        }

        &__hoverbox {

          box-sizing: border-box;
          background-image: linear-gradient(to bottom, rgba(232, 132, 132, 0.9), rgba(239, 211, 138, 0.8));
          height: 100%;
          left: 0;
          // padding: 60% 0 0;
          position: absolute;
          top: 0;
          width: 100%;
          opacity: 0;
          // box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
          transition:0.25s ease-out;
        }
        :hover {

          opacity: 1;
          transition:0.25s ease-out;
        }

        .icongalery {

          position: relative;
          top: calc(50% - 29px);
          text-align: center;

          .titlegalery {

            color: #ffffff;
            font-size: 16px;
            padding: 15px 0 10px;
            text-transform: uppercase;

            @media only screen and (max-width: 768px) {

              font-size: 13px;
              padding: 15px 0 5px;
            }
          }

          .textgalery {

            color: #ffffff;
            font-size: 15px;
            font-style: italic;

            @media only screen and (max-width: 768px) {

              font-size: 12px;
            }
          }
        }

        &__name {

          color: #333333;
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase;
        }

        &__ocupation {

          color: #999999;
          font-size: 15px;
          font-style: italic;
        }
      }

      .carruselgalery {
        background: #000;
        display: none;

        @media only screen and (max-width: 480px) {

          display: block;
        }
      }
    }
  }
}
