.mogo {

  &__ourteam {

    text-align: center;

    &__container {

      padding: 5rem 0;
    }

    .titleusdo {

      color: #000;
      font-family: 'Kaushan Script', cursive;
      font-size: 25px;
    }

    .titlestory {

      color: #000;
      font-size: 30px;
      font-weight: 900;
      padding: 1rem 0 3rem;
      text-transform: uppercase;

      @media only screen and (max-width: 480px) {

        font-size: 25px;
      }
    }

    .lineus {

      background-color: #f38181;
      height: 3px;
      margin: 0 auto;
      width: 60px;
    }

    .textus {

      color: #999;
      font-size: 15px;
      margin: 0 auto;
      padding: 3rem 0 0;
      width: 80%;
    }

    &__box {

      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0 7rem;

      @media only screen and (max-width: 768px) {

        justify-content: space-around;
      }

      @media only screen and (max-width: 480px) {

        display: block;
        margin: 0 auto;
        padding: 0 0 2rem;
        width: 48%;
      }

      @media only screen and (max-width: 480px) {

        width: 65%;
      }

      .boxcontent {

        @media only screen and (max-width: 480px) {

          padding: 0 0 40px;
        }
      }

      .teambox {

        margin: 0 0 2rem;
        max-width: 380px;
        position: relative;
        width: 100%;

        @media only screen and (max-width: 1024px) {

          max-width: 316px;
        }

        @media only screen and (max-width: 768px) {

          max-width: 230px;
        }



        @media only screen and (max-width: 480px) {

          max-width: 316px;
        }

        .imagesbox {

          position: relative;
        }

        &__hoverbox {

          box-sizing: border-box;
          background-image: linear-gradient(to bottom, rgba(232, 132, 132, 0.9), rgba(239, 211, 138, 0.8));
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          opacity: 0;
          box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
          transition:0.25s ease-out;
        }
        :hover {

          opacity: 1;
          transition:0.25s ease-out;
        }

        i {

          background: #fce38a;
          color: #f38181;
          cursor: pointer;
          font-size: 28px;
          line-height: 2.2;
          height: 58px;
          margin: 0 1px;
          position: relative;
          text-align: center;
          text-align: center;
          top: calc(50% - 29px);
          width: 58px;

          @media only screen and (max-width: 768px) {

            font-size: 20px;
            height: 40px;
            width: 40px;
          }

          &:hover {

            background: #f38181;
            color: #ffffff;
          }
        }

        &__name {

          color: #333333;
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase;
        }

        &__ocupation {

          color: #999999;
          font-size: 15px;
          font-style: italic;
        }
      }
    }
  }
}
